.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: var(--light-blue); 
}
.login__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    height: 300px;
    width: 400px;
    border-radius: 10px; 
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.29);
}
.login button{
    padding: 10px;
    width: 380px;
    background-color: var(--primary-blue);
    color: var(--white);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.login input{
    width: 380px;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.login h2{
    background-color: var(--primary-blue);
    width: 100%;
    color: var(--white);
    text-align: center;
    padding-top: 10px;
    border-radius: 10px 10px 0 0;
    height: 50px;
    margin-bottom: 50px;
    font-size: 1.5rem;
}

.login p{
    font-size: 1rem;
    margin-top: 70px;
    margin-bottom: 0;
}

